
<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <div class="footer-content">
            <h3>code Regulation</h3>
        </p>
        <p>COMPAÑIA DE INVERSIONES TEXTILES DE MODA SADU SAS. SOCIEDAD DE NACIONALIDAD COLOMBO/ARGENTINA CON DOMICILIO EN LOS PAISES EN MENCION EN LAS CIUDADES DE BUENOS AIRES ARGENTINA Y MEDELLIN COLOMBIA.
            <ul class="socials">
            <li><a href="#"><i class='bx bxl-facebook-square'></i></a></li>
            <li><a href="#"><i class='bx bxl-twitter'></i></a></li>
            <li><a href="#"><i class='bx bxl-google'></i></i></a></li>
            <li><a href="#"><i class='bx bxl-youtube' ></i></i></a></li>
            <li><a href="#"><i class='bx bxl-linkedin' ></i></i></a></li>
        </ul>
        </div>
        <div class="footer-bottom">
        <p>copyright &copy;2022 codeRegulation. designed by <span>SADU</span></p>
    </div>
</footer>
</html>