<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SADU</title>
    <!-- link css-->
     <link rel="stylesheet" href="/css/home.css">
     <!-- icono de caja -->
     <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--HEADER-->
    <header>
        <!--Nav-->
        <div class="nav container">
           <a href="#" class="logo">SADU</a>
           <!--Search-->
           <i class='bx bx-search' id="lupa-busqueda"></i>
           <!--CLOSET-->
           <i class='bx bx-closet' id="Closet-productos"></i>
           <!--LOGIN-->
           <i class='bx bx-log-in' id="Login"></i>
           <!--Bolsa de compras-->
           <i class='bx bx-shopping-bag' id="bolsa-compras"></i>

           
        </div>
    </header>
    <!--Banner de la marca / banner informativo-->
    <section class="banner de la marca">
        <div class="banner-Principal">
            <img src="/images/Banner traje.jpg" alt="" class="Banner-img">
        </div>
    <div class="Banner-info">
        <div class="Banner-informacion">
            <img src="/images/banner info.jpg" alt="" class="banner-info">
        </div>
    </section>

    <!-- seccion de compra-->
    <section class="compra container">
        <h2 class="section-tittle">Productos</h2>
        <!--contenido de la caja de productos-->
        <div class="compra-content">
            <!--caja 1-->
            <div class="producto-caja">
                <img src="/images/Camisa.png" alt="" class="producto-img">
                <h2 class="producto-tittle">Camisa</h2>
                <span class="Precio">$80</span>
                <i class='bx bx-shopping-bag agregar-al-carrito'></i>
            </div>
            <!--caja 2-->
            <div class="producto-caja">
                <img src="/images/Jean.png" alt="" class="producto-img">
                <h2 class="producto-tittle">Jean</h2>
                <span class="Precio">$80</span>
                <i class='bx bx-shopping-bag agregar-al-carrito'></i>
            </div>
            <!--caja 3-->
            <div class="producto-caja">
                <img src="/images/Zapato.png" alt="" class="producto-img">
                <h2 class="producto-tittle">Zapatos</h2>
                <span class="Precio">$100</span>
                <i class='bx bx-shopping-bag agregar-al-carrito'></i>
            </div>
            <!--caja 4-->
            <div class="producto-caja">
                <img src="/images/Sombrero.png" alt="" class="producto-img">
                <h2 class="producto-tittle">Sombrero</h2>
                <span class="Precio">$60</span>
                <i class='bx bx-shopping-bag agregar-al-carrito'></i>
            </div>
            <!--caja 5-->
            <div class="producto-caja">
                <img src="/images/Camiseta.png" alt="" class="producto-img">
                <h2 class="producto-tittle">Camiseta</h2>
                <span class="Precio">$50</span>
                <i class='bx bx-shopping-bag agregar-al-carrito'></i>
            </div>
            <!--caja 6-->
            <div class="producto-caja">
                <img src="/images/Traje.png" alt="" class="producto-img">
                <h2 class="producto-tittle">Traje</h2>
                <span class="Precio">$280</span>
                <i class='bx bx-shopping-bag agregar-al-carrito'></i>
            </div>
            <!--caja 7-->
            <div class="producto-caja">
                <img src="/images/Blazer.png" alt="" class="producto-img">
                <h2 class="producto-tittle">Blazer</h2>
                <span class="Precio">$180</span>
                <i class='bx bx-shopping-bag agregar-al-carrito'></i>
            </div>
            <!--caja 8-->
            <div class="producto-caja">
                <img src="/images/Bolso.png" alt="" class="producto-img">
                <h2 class="producto-tittle">Bolso</h2>
                <span class="Precio">$150</span>
                <i class='bx bx-shopping-bag agregar-al-carrito'></i>
            </div>
        </div>
    </section>
</body>

<footer>
    <%- include('./partials/footer')%>
</footer>

</html>